@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Technical Test</h1>
    <p class="lead">CRUD to manage patient’s data.</p>
    @Html.ActionLink("Patients", "Index", "Patients", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>

